/* css */
/* overall style */
* {
    margin: 0;
    padding: 0;
}

/* body style*/
body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: #FDF8F5;
    color: #4f4846;
}

/* headings style*/
h1, 
h2 {
    margin: 20px;
}

/* main content style*/
main {
    padding: 60px 0;
}

/* li (list items) style*/
li {
    display: inline;
    padding: 20px;
    text-decoration: none;
 }

/* a (anchor) style*/
a {
    text-decoration: none;
    color: #FDF8F5;
}

/* header and footer styles*/
header,
footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #266150;
}

header {

}

footer {


}

/* figure/image styles*/

figure {


}

img {

}

/* section style */

section {

}

/* form style; center form on webpage */
form {


}

label {


}

input, 
textarea {


}

button {


}

/* class selectors*/
.text-center {

}

.text-right {


}